################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/archive2music/bin/Debug
/archive2music/obj/Debug
/archive2music/obj/Release
